https://bchain.institute {
	tls ilya@apalkoff.ru
	root /site/public


git git@github.com/apalkoff/test_site {
	hook /webhook my_secret
	path  /site
	then ssh {$HOST_IP} cd /root/site/site; make all 
}
}

