https://bchain.institute {
	tls connect@bchain.institute
	root /site/public


git git@github.com/bchain-institute/site_src {
	hook /webhook no_secret
	clone_args --recurse-submodules
	path  /site
	then ssh {$HOST_IP} cd /root/site_infra/site; make all 
}
}

